body{
    width: 100%;
    height: 120vh;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald';
  height: 98vh;
  background-image: url(https://i.ibb.co/mhM5mF0/bg-index.jpg);
  background-repeat: no-repeat, repeat; 
  background-size: cover;
  /* A Mettre dans une div du body pour interchanger les BG des pages */
}

.container {
    width: 10%;
    z-index: 1;
}
   
span{
    margin-left: 70px;
    padding-top: 25px;
    font-size: 30px;
    color:rgb(221, 158, 22);
}
  
header {
  content: "";
  display: flex;
  justify-content: space-between;
  width:100%;
  /* background-image: url(https://i.ibb.co/mhM5mF0/bg-index.jpg);
  background-repeat: no-repeat, repeat; 
  background-size: cover; */
}
  
.logo {
    width:150%
}
  
.navbar {
  width: 50%;
  font-size: 15px; 
}

.navbar ul {
  display : flex;
  width: 100%;
  list-style-type: none; 
}

.navbar li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
    width: 100%;
    position: relative;
}
     
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;   
}
  
  .navbar a:hover {
    color: #000;
}
  
  .navbar a::before {
    content:"";
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(221, 158, 22);
    
    position: absolute;
    top: 30px;
    visibility: hidden;
    transition: all ease-in-out 250ms;
}
  
  .navbar a:hover::before { 
  visibility: visible;
}
   









/*corps du site*/

.layoutbody {
  display: flex;
  flex-flow:row wrap;
  font-weight: bold;
  text-align: center;
}

.layoutbody > * {
  padding: 10px;
  flex: 1 100%;
}

.article_main {
  display: flex;
  justify-content: center;
}

.article_main_2 {
  font-style: italic;
  color: rgb(255, 255, 255);
  font-family: 'Oswald';
}




/*Barre nav Footer*/
footer{
    font-family: 'Oswald';
    position: absolute;
    bottom: 0;  /* on le colle en bas */
    width:100%;
    background-color: rgba(100, 100, 100, 0.247);
}

footer a{
  font-size: 20px;
  margin: 5px;
}

.container_footer {
  width: auto;
  margin: 0 auto;
}

.nav_footer {
  text-align: center;
  display: inline-block;
}

li a{
  color: rgb(221, 158, 22);
  text-decoration: none;
}

.nav_footer li a {
  transition: all 0.3s ease 0s;
}

.nav_footer li a:hover {
  color: rgb(92, 66, 12);
}



/*Copyright style*/
.copyright{
  font-family: 'Oswald';
  font-size: 12px;
  margin-left: 1%;
  font-style: italic;
}



/*Icone Git Footer*/
.icon{
  font-size: 40px;
}

.social{
  margin: 1rem;
  text-align: right;
}

.social li {
  display: inline-block;
}

a :hover {
  transform: scale(1.3);
  transition: 200ms;
}