body{
    width: 100%;
    height: 120vh;
    margin: 0;
    padding:0;
    font-family: 'Oswald';
}

/* All BG */
#BG{
  height: 98vh;
  background-image: url(https://i.ibb.co/mhM5mF0/bg-index.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
}
#BG_galerie{
  background-image: url(https://i.ibb.co/SJDBXg2/Fotoram-io-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#BG_event{
  background-image: url(https://i.ibb.co/Y8hPXMg/MjAyMTA5.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
#BG_contact{
  background-image: url(https://i.ibb.co/pf74sCW/Fotoram-io-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Fin BG */

.container {
    width: 10%;
    z-index: 1;
}
   
span{
    margin-left: 70px;
    padding-top: 25px;
    font-size: 30px;
    color:rgb(221, 158, 22);
}
  
header {
  content: "";
  display: flex;
  justify-content: space-between;
  width:100%;
}
  
.logo {
    width:150%
}
  
.navbar {
  width: 50%;
  font-size: 15px; 
}

.navbar ul {
  display : flex;
  width: 100%;
  list-style-type: none; 
}

.navbar li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
    width: 100%;
    position: relative;
}
     
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;   
}
  
  .navbar a:hover {
    color: #000;
}
  
  .navbar a::before {
    content:"";
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(221, 158, 22);
    
    position: absolute;
    top: 30px;
    visibility: hidden;
    transition: all ease-in-out 250ms;
}
  
  .navbar a:hover::before { 
  visibility: visible;
}
   

/*corps du site*/

.layoutbody {
  display: flex;
  flex-flow:row wrap;
  font-weight: bold;
  text-align: center;
}

.layoutbody > *{
  padding: 50px;
  flex: 1;
}

.article_main {
  display: flex;
  justify-content: center;
}

.article_main_2 {
  font-style: italic;
  color: rgb(255, 255, 255);
  font-family: 'Oswald';
}

/*Galerie*/

.container_galerie {
  margin: 10rem auto;
}

.gallery {
  display: grid;
  max-width: 100%;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
}

.container_galerie img {
    width: 100%;
    object-fit: cover;
  }

  /*Event*/

  .titres{
    text-align: center;
    margin-top: 10%;
  }

  .photo_gauche{
    display: flex;
    width: 40%;
  }

  #photogauche{
    flex: 1;
    width: 100%;
    justify-content: left;
    margin-top: 30%;
  }
 
  

  /*Contact*/

  form {
    background-color: #ffffff;
    width:350px;
    text-align: center;
    margin: 30px auto;
    box-shadow: 4px 4px 5px #999999;
    padding: 0 0 40px 0;
    border-radius: 10px;
  }
  input{
    margin: 20px 0px;
    width: 300px;
    border: none;
    border-bottom: solid 1px rgb(221, 158, 22);
    padding 4px 0 5px 0;
    color: rgb(0, 0, 0);
  }
  button {
    box-shadow: 0px 10px 14px -7px #276873;
    background-color:rgb(221, 158, 22);
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:white;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin: 15px 0 0 0
  }


/*Barre nav Footer*/
footer{
    font-family: 'Oswald';
    position: absolute;
    bottom: 0;  /* on le colle en bas */
    width:100%;
    background-color: rgba(100, 100, 100, 0.247);
}

footer a{
  font-size: 20px;
  margin: 5px;
}

.container_footer {
  width: auto;
  margin: 0 auto;
}

.nav_footer {
  text-align: center;
  display: inline-block;
}

li a{
  color: rgb(221, 158, 22);
  text-decoration: none;
}

.nav_footer li a {
  transition: all 0.3s ease 0s;
}

.nav_footer li a:hover {
  color: rgb(92, 66, 12);
}



/*Copyright style*/
.copyright{
  font-family: 'Oswald';
  font-size: 12px;
  margin-left: 1%;
  font-style: italic;
}



/*Icone Git Footer*/
.icon{
  font-size: 40px;
}

.social{
  margin: 1rem;
  text-align: right;
}

.social li {
  display: inline-block;
}

a :hover {
  transform: scale(1.3);
  transition: 200ms;
}